body {
    background-color: black;
    color: black; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .right-info-col h5 {
    font-size: 18px;
    margin-bottom: 10px;
    color: lightgray; 
  }

  .product-card {
    width: 800px; /
    margin: 120px auto; 
    display: flex; 
    background-color: white; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .left-img-col {
    flex: 1; 
  }
  
  .left-img-col img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }
  
  .right-info-col {
    flex: 2; 
    padding-left: 20px; 
  }
  
  .right-info-col h3 {
    font-size: 32px; 
    margin-bottom: 10px; 
  }
  
  .right-info-col h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .right-info-col p {
    font-size: 14px; 
    line-height: 1.5; 
  }
  
  .available-colors {
    margin-top: 20px; 
  }
  
  .available-colors span {
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    margin-right: 10px; 
  }
  
  .black-color-container {
    background-color: black; 
  }
  
  .red-color-container {
    background-color: red; 
  }
  
  .white-color-container {
    background-color: beige; 
  }
  
  .price {
    margin-top: 20px; 
  }
  
  .price h4 {
    font-size: 32px; 
  }
  
  .buy-btn {
    width: 150px; 
    height: 40px; 
    background-color: black; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
  }