body {
    background-color: black;
    color: black; 
    font-family: Arial, sans-serif;
  }

  .right-info-col h5 {
    font-size: 18px;
    margin-bottom: 10px;
    color: lightgray; 
  }

  .product-card {
    width: 800px; 
    margin: 120px auto 0; 
    display: flex; 
    background-color: white; 
    padding: 20px; 
    box-sizing: border-box; 
    position: relative;
  }

  .left-img-col {
    flex: none;
    width: 50%;
  }
  
  .left-img-col img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .right-info-col {
    flex: 1; 
    padding: 20px; 
  }

  .right-info-col h3 {
    font-size: 32px;
    margin-bottom: 15px; 
  }
  
  .right-info-col h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .right-info-col p {
    font-size: 14px;
    line-height: 1.5;
    padding-left: 50px; 
    margin-bottom: 20px; 
  }

  .available-colors {
    display: flex;
    justify-content: space-between; 
    padding: 20px; 
  }
  
  .available-colors span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; 
  }
  
  .black-color-container {
    background-color: black;
  }
  
  .red-color-container {
    background-color: red;
  }
  
  .white-color-container {
    background-color: beige;
  }
  
  /* Price Section */
  .price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust separation */
  }
  
  .price h4 {
    font-size: 32px;
    margin-bottom: 0; /* Remove bottom margin */
  }
  
  /* Buy Button */
  .buy-btn {
    width: 150px;
    height: 40px;
    background-color: #232323;
    color: white;
    border: 1px solid #232323;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 40px; 
    transition: background-color 0.2s ease-in-out;
  }
  
  .buy-btn:hover {
    background-color: #3b3b3b; 
  }